 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #303433;
}


.UserLogin{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

} 
section {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* section.side {
      
        background: url('../image/bk.png') no-repeat;
        background-size: 100% 102%;
} */

.side img {
    width: 80%;
    max-width: 80%;
    /* background-color: black;    */
  
}

.login-container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.separator {
    width: 150px;
    height: 4px;
    background-color: #843bc7;
    margin: 24px;
}

.welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
    background-color: #ffffff;
    border: none;
}

.login-container input,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

.login-container input {
    width: 100%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

.login-container input ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color   0.4s;
}

.login-container input:focus ~ i {
    color: #843bc7;
}

button.submit {
    color: #fff;
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
}

button.submit:hover {
    opacity: 0.9;
}

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {

    .UserLogin {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side {
        display: none;
    }
}

.role{
   width: 25vw;
   margin-left: 1rem;
   border-radius: 2rem;
}
.user-form-control label{
    font-size: 1.5rem;
    margin-left: 1rem;
}


.product-card{
    width: 40vh;
    display: flex;
}
.card{
    margin: 10px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
    
  }
  .homecard{
      height: 55vh;
      
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  .card img{
    height: 30vh;
    border: 1px solid rgb(213, 209, 209);
    
  }

  .productSearch input{
    border-radius: 30px;
    width:50rem;
    height:4rem;
    background-color: #524c4cfb;
    border: 2px solid rgb(226, 43, 128);
    

}
.productSearch input:hover{
    border: 4px solid rgb(196, 167, 223);
    transition: all 0.5s ease;
    
}

.searchContainer{

    padding: 10px;
    background-image: url('./images/download.jfif');
    background-size: cover;
    margin-top: -14px;
    width: 99.3%;
}


/* search  */
@import url(https://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop input {
	background: rgb(253, 253, 253);	
    
	border: 3px solid rgb(0, 0, 0);
	border-radius: 15px ;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
    /* box-shadow: 10px 10px 5px rgb(70, 71, 71); */
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 50px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 80vw;
}

.ie .webdesigntuts-workshop input {
	line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
    padding-left: 10px;
   color: rgb(0, 0, 0);
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
	color: #efe;
}

.webdesigntuts-workshop button {
	background: #222;
	background: linear-gradient(rgb(207, 204, 204), rgb(248, 242, 242));
	box-sizing: border-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}	

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: rgb(102, 143, 255);
		box-shadow: 0 0 20px rgba(150, 71, 160, 0.6), inset 0 0 10px rgba(255, 0, 64, 0.4), 0 2px 0 #000;
    }
}


/* Info product */


.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
.card-wrapper img{
    width: 100%;
    height: 100%;
    display: block;
}
.card-wrapper .img-display{
    overflow: hidden;

    
}
.card-wrapper .product-imgs{
   margin-top: 5rem;
   border: 1px solid black;

}
/* .card-wrapper .img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
} */

.card-wrapper .img-select{
    display: flex;
}
.card-wrapper .product-content{
    padding: 2rem 1rem;
}
.card-wrapper .product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    color: #12263a;
    margin: 1rem 0;
}
.card-wrapper .card-wrapper .product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.card-wrapper .product-link:hover{
    opacity: 0.9;
}
.card-wrapper .product-rating{
    color: #ffc107;
}
.card-wrapper .product-rating span{
    font-weight: 600;
    color: #252525;
}

.card-wrapper .product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.card-wrapper .product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}


.card-wrapper .social-links{
    display: flex;
    align-items: center;
}
.card-wrapper .social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.card-wrapper .social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card-wrapper .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-wrapper .product-imgs{
    
        flex-direction: column; 
        justify-content: center;
      
    }
    .card-wrapper .product-content{
        padding-top: 0;
    }
}


/* nitrition table */
.nutrationTable{
    width: 80%;
}
.nutrationTable .title{
    font-size: 2rem;
}

.grams{
    float: right;
    font-weight: bold;
}
/* show user name  */
.Showusername {
    text-align: right;
    width: 100%;
    background-image: url('./images/download.jfif');
    background-size: cover;
 
   
}
.Showusername span{
    font-size: 1.2rem;
    margin-right: 10px;  
    color:white;
    font-weight: 500;
    text-transform: uppercase;
}

.Showusername button{
    margin-right: 10px;  
    margin-top: 2px;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    background-color: #000000;
}
.Showusername button:hover{
    background-color: rgb(71, 12, 235);
    border: 1px solid white; 
}
.Showusername button i{
    margin: 5px;
    font-size: 1.1rem;
    color: white;
}
/* //login require */
.loginRequire{
    width: 100%;
    height: 93vh;
}

/* admin panal */
/* .adminpanal{
    background-color:#1b203d;
    color:red;
} */

.parent{
    display: flex;
}
.mainPanalContaine{
    height: 100%;
    width: 79.7%;
    
    margin-top: 20px;
    margin-left: 22rem;
}
/* Role css  */

.RoleClass span{
    color: rgb(19, 229, 61);
    
}

.ratingCount{
    width: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background-color: #95df7e;
}

/* addcatagoryadmin */
.addcatagoryadmin{
 margin-left: 30rem;
 margin-top: 10rem;
}
.addcatagoryadmin input{
    width: 30vw;
    border: 1px solid black;
}

/* user image */

.userImage{
    width: 30px;
    height: 30px;
    /* border-radius: 10px; */

}
.loader{
    padding: 300px 0;
    text-align: center;
}

.bannerImage img{
    width: 100%;
    height: 50vh;

} 
.catagoruHome{
    height: 50px;
    width: 98%;
    
    
}
